.detail-featured {
  padding: 140px 0 64px;
  margin-bottom: 64px;
  border-bottom: 1px solid $transparentWhite;

  ul,
  ol {
    display: flex;
    gap: 24px;
    margin-bottom: 16px;

    li {
      font-size: 14px;
      font-weight: 400;
      line-height: 17px;

      &:not(:first-child) {
        list-style-type: disc;
      }
    }
  }

  h2 {
    font-size: 40px;
    font-weight: 600;
    line-height: 48px;
    margin-bottom: 32px;
  }
  p {
    font-size: 18px;
    font-weight: 400;
    line-height: 23px;
  }
}
