.detail-content {
  .dc-text {
    margin-bottom: 40px;

    > h3 {
      font-size: 28px;
      font-weight: 600;
      line-height: 33px;
      margin-bottom: 16px;

      &:not(:first-child) {
        margin-top: 72px;
      }
    }
    > p {
      font-weight: 400;
      margin-bottom: 24px;
    }
    > ol li,
    > ul li {
      font-weight: 400;
    }

    > p,
    > p strong,
    > ol li,
    > ul li {
      font-size: 18px;
      line-height: 23px;
    }
    strong {
      color: $red;
      font-weight: 500;
      display: block;
    }

    h4 {
      font-size: 20px;
      font-weight: 600;
      line-height: 24px;
      margin-bottom: 8px;
      margin-top: 32px;
    }

    .table-wrapper {
      margin-top: 32px;
    }

    > ul,
    > ol {
      padding-left: 24px;

      li {
        &:not(:last-child) {
          margin-bottom: 24px;
        }
      }
    }

    > ul {
      li {
        list-style-type: disc;

        &::marker {
          color: $red;
        }
      }
    }

    > ol {
      li {
        list-style-type: decimal;
      }
    }
  }
}

.testimonial-block {
  margin: 32px 0;
  background: url(../images/icons/testimonail-shape.svg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 56px 92px 52px 40px;
  gap: 48px;
  background-color: #373737;
  border-radius: 12px;

  .quote {
    min-width: 160px;
  }

  .tb-content {
    h4 {
      margin-bottom: 32px;
    }
    strong {
      font-size: 18px;
      font-weight: 500;
      line-height: 25px;
      display: inline-block;
      margin-bottom: 4px;
    }
  }
}

.share-box {
  gap: 20px;
  padding: 12px 0;
  border-bottom: 1px solid $transparentWhite;
  border-top: 1px solid $transparentWhite;

  p {
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
  }

  ul {
    gap: 16px;
  }
}

.next-prev-block {
  margin-top: 24px;

  a {
    color: #fff;
    font-weight: 600;
    position: relative;

    span {
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
      display: block;
    }

    &.next {
      padding-right: 28px;

      &::after {
        right: 0;
        transform: rotate(180deg);
      }
    }
    &.prev {
      padding-left: 28px;
      &::after {
        left: 0;
      }
    }

    &::after {
      content: "";
      width: 20px;
      height: 20px;
      background: url(../images/icons/angle-left-v2.svg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }

    &:hover {
      color: $red;
    }
  }
}

.comment-block {
  margin-top: 100px;
  h2 {
    font-size: 32px;
    font-weight: 600;
    line-height: 38px;
    margin-bottom: 24px;
  }
  .comment-form-wrapper {
    margin-bottom: 56px;
  }

  .comment {
    padding-bottom: 36px;
    margin-bottom: 36px;
    border-bottom: 1px solid $transparentWhite;

    strong {
      font-size: 18px;
      font-weight: 600;
      line-height: 22px;
      display: block;
      margin-bottom: 4px;
    }
    span {
      font-size: 14px;
      font-weight: 400;
      line-height: 17px;
      display: block;
    }
    p {
      font-size: 18px;
      font-weight: 400;
      line-height: 23px;
    }

    .ac-user {
      margin-bottom: 16px;
      gap: 16px;

      .acu-profile {
        background: url(../images/collab-tab-bg.svg);
        background-repeat: no-repeat;
        background-size: cover;
        width: 44px;
        height: 44px;
        text-align: center;
        strong {
          line-height: 44px;
        }
      }
    }
  }
}
