.testimonials {
  overflow: hidden;

  .section-title {
    margin-bottom: 72px;
  }

  .testimonial-slider-wrapper {
    .testimonial-slider {
      margin: 0 -36px;
      .ts-item {
        position: relative;
        margin: 0 36px;
        padding: 76px 0 48px;

        &::before {
          content: "";
          inset: 0;
          position: absolute;
          background: url(../images/testimonial-bg.png);
          background-repeat: no-repeat;
          background-size: contain;
        }

        .tsi-content-box {
          text-align: center;
          max-width: 846px;
          margin: 0 auto;
        }

        .tsi-quote {
          max-width: 52px;
          margin: 0 auto 32px;
        }

        h4 {
          font-size: 28px;
          font-weight: 700;
          line-height: 35px;
          margin-bottom: 64px;
        }

        .reviewer {
          .reviewer-image {
            width: 44px;
            height: 44px;
            border-radius: 50%;
            margin: 0 auto 8px;
          }
          .reviewer-content {
            h5 {
              font-size: 24px;
              font-weight: 500;
              line-height: 34px;
              margin-bottom: 4px;
              color: $red;
            }
          }
        }
      }
    }
  }
}

.slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;

  li {
    width: 30px;
    height: 20px;
    position: relative;

    &::after,
    &::before {
      content: "";
      position: absolute;
      background-repeat: no-repeat;
      background-size: contain;
    }

    &::before {
      background-image: url(../images/icons/slider-dots-bg.svg);
      inset: 0;
      opacity: 0;
      visibility: hidden;
      transition: all 0.3s ease-in-out;
    }

    &::after {
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 12px;
      height: 8px;
      background-image: url(../images/icons/slider-dots.svg);
    }

    &.slick-active {
      &::before {
        opacity: 1;
        visibility: visible;
      }
    }

    * {
      display: none;
    }
  }
}
