.about {
  margin-bottom: 188px;

  .section-title {
    margin-bottom: 40px;
  }

  .about-content {
    p {
      &:not(:last-of-type) {
        margin-bottom: 16px;
      }
      &:last-of-type {
        margin-bottom: 48px;
      }
    }
  }
}
