.about {
  .section-title {
    margin-bottom: 40px;
  }

  .about-content {
    p {
      &:not(:last-of-type) {
        margin-bottom: 16px;
      }
      &:last-of-type {
        margin-bottom: 48px;
      }
    }
  }

  .about-image {
    margin-bottom: 40px;
  }
}

@media (min-width: 992px) {
  .about {
    .about-image {
      margin-bottom: 0;
    }
  }
}
