.headline {
  margin-bottom: 64px;
  position: relative;
  overflow: hidden;
  padding: 40px 0;

  .headline-content {
    position: relative;
    h1 {
      transform: rotate(3deg);
      font-size: 60px;
      line-height: 72px;
      text-wrap: nowrap;
      padding: 8px 0;
    }
    &::before {
      content: "";
      background-color: #f02626;
      position: absolute;
      top: 0;
      bottom: 0;
      left: -10px;
      right: -10px;
      transform: rotate(3deg);
      z-index: -1;
    }
  }
}
