.features .section-title {
  margin-bottom: 104px;
}
.features .feature-item {
  text-align: center;
}
.features .feature-item .fi-icon,
.features .feature-item .fi-content p {
  margin-bottom: 24px;
}
.features .feature-item .fi-content h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  margin-bottom: 12px;
  transition: all 0.3s ease-in-out;
}
.features .feature-item:hover .fi-content h3 {
  color: #f02626;
}
.features .feature-item:hover .fi-content .tc-btn span {
  color: #fff;
}
.features .feature-item:hover .fi-content .tc-btn span::before {
  transform: scale(1);
}
.features .feature-item:hover .fi-content .tc-btn::after, .features .feature-item:hover .fi-content .tc-btn::before {
  opacity: 1;
  visibility: visible;
}
.features .feature-item:hover .fi-content .tc-btn::after {
  bottom: -6px;
  right: -12px;
}
.features .feature-item:hover .fi-content .tc-btn::before {
  top: -8px;
  left: -8px;
}
.features .row > div:not(:last-child) .feature-item {
  margin-bottom: 40px;
}

@media (min-width: 992px) {
  .features .row > div:not(:last-child) .feature-item {
    position: relative;
    margin-bottom: 0;
  }
  .features .row > div:not(:last-child) .feature-item::after {
    content: "";
    position: absolute;
    top: 24px;
    right: -56px;
    width: 1px;
    height: calc(100% - 48px);
    background-color: rgba(255, 255, 255, 0.1);
  }
}
