.headline {
  position: relative;
  overflow: hidden;
  padding: 40px 0;
}
.headline .headline-content {
  position: relative;
  transform: rotate(3deg);
}
.headline .headline-content::before {
  background-color: #f02626;
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: -10px;
  right: -10px;
  transform-origin: -10px -10px;
  z-index: -1;
}
.headline .headline-content h1 {
  font-size: 60px;
  line-height: 72px;
  padding: 8px 0;
  position: relative;
  text-wrap: nowrap;
}
