.news {
  margin-bottom: 210px;
}
.news .section-title {
  margin-bottom: 48px;
}
.news .news-item {
  border: 1px solid rgba(255, 255, 255, 0.1);
}
.news .news-item .ni-content {
  padding: 24px 20px 44px;
}
.news .news-item .ni-content span {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  display: inline-block;
  margin-bottom: 16px;
}
.news .news-item .ni-content a {
  display: block;
  margin-bottom: 24px;
}
.news .news-item .ni-content a h4 {
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  color: #fff;
}
