* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "League Spartan", sans-serif;
  font-size: 16px;
  line-height: 22px;
  background-color: #1d1d1d;
  color: #fff;
}

h1,
h2,
h3,
h4 {
  margin-bottom: 0;
}

h1 {
  font-family: "Rozha One", sans-serif;
  font-weight: 400;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 2px #fff;
  -moz-text-fill-color: transparent;
}

p {
  margin-bottom: 0;
}

ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  color: initial;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  display: inline-block;
}
a:hover {
  color: initial;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
}

/* Utility Classes*/
.section-title h1 {
  font-size: 60px;
  line-height: 100px;
  position: relative;
  display: inline-block;
  padding-right: 28px;
}
.section-title h1::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 35px;
  width: 15px;
  height: 10px;
  background: url(../images/icons/shape.svg);
  background-size: contain;
  background-repeat: no-repeat;
}
.section-title p {
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
}
.section-title .title + .tc-btn {
  margin-top: 20px;
}

.section-gap {
  margin-bottom: 80px;
}

.tc-btn-primary {
  display: inline-block;
}
.tc-btn-primary span {
  display: inline-block;
  padding: 16px 28px;
  border-radius: 5px;
  background-color: #f02626;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  text-transform: uppercase;
  margin: 6px;
}
.tc-btn-primary .shape {
  display: block;
  width: 100%;
}
.tc-btn-primary .shape::after, .tc-btn-primary .shape::before {
  content: "";
  position: absolute;
  background-color: #fff;
  transform-origin: 0% 0%;
  transition: all 0.3s ease-in-out;
}
.tc-btn-primary .shape::before {
  width: 12px;
  height: 1px;
}
.tc-btn-primary .shape::after {
  width: 1px;
  height: 12px;
}
.tc-btn-primary .shape.end {
  transform: rotate(180deg);
}
.tc-btn-primary:hover {
  color: #fff;
}
.tc-btn-primary:hover .shape::before {
  transform: scaleX(4);
}
.tc-btn-primary:hover .shape::after {
  transform: scaleY(2);
}
.tc-btn-text {
  position: relative;
}
.tc-btn-text span {
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  text-transform: uppercase;
  color: #f02626;
  position: relative;
  padding: 20px 40px;
}
.tc-btn-text span::before {
  content: "";
  position: absolute;
  inset: 0;
  background: url(../images/btn-bg.svg);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  transform: scaleX(0.062) scaleY(0.11);
  transform-origin: 88% 54%;
  transition: all 0.3s ease-in-out;
}
.tc-btn-text::before, .tc-btn-text::after {
  content: "";
  width: 20px;
  height: 20px;
  background-image: url(../images/icons/button-side-icon.svg);
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 0.3s ease-in-out;
  opacity: 0;
  visibility: hidden;
}
.tc-btn-text::after {
  transform: rotate(180deg);
  bottom: 0px;
  right: 0px;
}
.tc-btn-text::before {
  top: 0px;
  left: 0px;
}
.tc-btn-text:hover span {
  color: #fff;
}
.tc-btn-text:hover span::before {
  transform: scale(1);
}
.tc-btn-text:hover::after, .tc-btn-text:hover::before {
  opacity: 1;
  visibility: visible;
}
.tc-btn-text:hover::after {
  bottom: -6px;
  right: -12px;
}
.tc-btn-text:hover::before {
  top: -8px;
  left: -8px;
}

.section-with-bg-image {
  background-image: url(../images/multiple-section-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}
