.about-featured-section {
  position: relative;

  &::before {
    content: "";
    width: 634px;
    height: 634px;
    background-image: url(../images/shape-04.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    left: -10%;
    top: -44%;
  }

  .afs-header {
    margin-bottom: 96px;
  }
}
