.team {
  background-image: url(../images/multiple-section-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 80px 0;

  h1 {
    margin-bottom: 68px;
  }
  .team-member {
    h3 {
      font-size: 32px;
      font-weight: 600;
      line-height: 38px;
      margin-bottom: 4px;
    }
    p {
      font-weight: 500;
      margin-bottom: 24px;
    }

    .tm-profile {
      position: relative;
      overflow: hidden;
      padding-bottom: 12px;

      &::before {
        content: "";
        position: absolute;
        height: 150px;
        left: -15px;
        right: -20px;
        bottom: -10px;
        background-image: url(../images/team-image-bottom.svg);
        background-repeat: no-repeat;
        background-size: cover;
        z-index: -1;
      }
    }

    .row {
      --bs-gutter-x: 48px;
    }

    &:not(:last-child) {
      padding-bottom: 64px;
      margin-bottom: 64px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    }

    &:nth-child(odd) {
      .row {
        flex-direction: row-reverse;
      }
    }
  }
}
