.news {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: -160px;
    width: 320px;
    height: 320px;
    background-image: url(../images/announcement.svg);
    background-repeat: no-repeat;
    background-size: contain;
  }

  .section-title {
    margin-bottom: 48px;
  }

  .row {
    > div {
      &:not(:last-child) {
        .news-item {
          margin-bottom: 40px;
        }
      }
    }
  }
}

@media (min-width: 992px) {
  .news {
    .row {
      > div {
        &:not(:last-child) {
          .news-item {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}
