$red: #f02626;
$transparentWhite: rgba(255, 255, 255, 0.1);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "League Spartan", sans-serif;
  font-size: 16px;
  line-height: 22px;
  background-color: #1d1d1d;
  color: #fff;
}

h1,
h2,
h3,
h4 {
  margin-bottom: 0;
}

h1 {
  font-family: "Rozha One", sans-serif;
  font-weight: 400;
  font-size: 60px;
  line-height: 100px;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 2px #fff;
  -moz-text-fill-color: transparent;

  &.with-icon {
    display: inline-block;
    position: relative;
    padding-right: 24px;
    width: auto;

    &::after {
      content: "";
      width: 15px;
      height: 10px;
      background-image: url(../images/btn-bg.svg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: absolute;
      bottom: 36px;
      right: 0;
    }
  }
}

p {
  margin-bottom: 0;
}

ul,
ol,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

table {
  margin: 0 !important;
}

a {
  color: #fff;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  display: inline-block;

  &:hover {
    color: inherit;
  }

  &.open-in-new-tab {
    span {
      position: relative;
      padding-right: 16px;

      &::after {
        content: "";
        width: 12px;
        height: 12px;
        background: url(../images/icons/arrow-tilted.svg);
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;
        right: 0;
        bottom: 4px;
      }
    }
  }
}

button {
  background-color: transparent;
  border: none;
  outline: none;
}

input,
select,
textarea {
  width: 100%;
  outline: none;
  border: none;
  color: #fff;
  font-weight: 600;

  &::placeholder {
    color: #fff;
  }
}

/* Utility Classes*/

.section-title {
  h1 {
    position: relative;
    display: inline-block;
    padding-right: 24px;

    &::after {
      content: "";
      position: absolute;
      right: 0;
      bottom: 35px;
      width: 15px;
      height: 10px;
      background: url(../images/icons/shape.svg);
      background-size: contain;
      background-repeat: no-repeat;
    }
  }
  p {
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
  }

  .title + .tc-btn {
    margin-top: 20px;
  }
}

.section-gap {
  margin-bottom: 80px;
}

.bordered-aside {
  border-left: 1px solid $transparentWhite;
  padding-left: 32px;
  height: calc(100% - 64px);

  &.bordered-aside-v2 {
    height: 100%;
  }
}

.tc-btn-red {
  color: $red;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;

  &:hover {
    color: #f02626;
    opacity: 0.8;
  }

  &.btn-red-v2 {
    position: relative;
    padding-right: 20px;

    &::after {
      content: "";
      width: 12px;
      height: 12px;
      background: url(../images/icons/angle-down-red.svg);
      background-repeat: no-repeat;
      background-size: contain;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

.tc-btn {
  &-primary {
    display: inline-block;
    padding: 16px 0;
    text-align: center;
    width: 168px;
    border-radius: 5px;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    text-transform: uppercase;
    margin: 6px;
    position: relative;
    background: -moz-linear-gradient(-45deg, $red 0%, $red 40%, #ffffff 50%, $red 60%, $red 100%);
    background: -webkit-gradient(
      linear,
      left top,
      right bottom,
      color-stop(0%, $red),
      color-stop(40%, $red),
      color-stop(50%, #ffffff),
      color-stop(60%, $red),
      color-stop(100%, $red)
    );
    background: -webkit-linear-gradient(-45deg, $red 0%, $red 40%, #ffffff 50%, $red 60%, $red 100%);
    background: -o-linear-gradient(-45deg, $red 0%, #ff6e00 40%, #ffffff 50%, $red 60%, $red 100%);
    background: -ms-linear-gradient(-45deg, $red 0%, $red 40%, #ffffff 50%, $red 60%, $red 100%);
    background: linear-gradient(135deg, $red 0%, $red 40%, #ffffff 50%, $red 60%, $red 100%);
    background-repeat: no-repeat;
    background-position: 0%;
    background-size: 300%;
    transform: perspective(100px) rotateY(9deg);

    &:hover {
      animation: light 1s;
      -webkit-animation: light 1s;
    }
  }
  &-text {
    position: relative;
    span {
      display: inline-block;
      font-size: 14px;
      font-weight: 700;
      line-height: 17px;
      text-transform: uppercase;
      color: #f02626;
      position: relative;
      padding: 20px 40px;

      &::before {
        content: "";
        position: absolute;
        inset: 0;
        background: url(../images/btn-bg.svg);
        background-repeat: no-repeat;
        background-size: cover;
        z-index: -1;
        transform: scaleX(0.062) scaleY(0.11);
        transform-origin: 88% 54%;
        transition: all 0.3s ease-in-out;
      }
    }

    &::before,
    &::after {
      content: "";
      width: 20px;
      height: 20px;
      background-image: url(../images/icons/button-side-icon.svg);
      position: absolute;
      background-repeat: no-repeat;
      background-size: cover;
      transition: all 0.3s ease-in-out;
      opacity: 0;
      visibility: hidden;
    }

    &::after {
      transform: rotate(180deg);
      bottom: 0px;
      right: 0px;
    }

    &::before {
      top: 0px;
      left: 0px;
    }

    &:hover {
      span {
        color: #fff;

        &::before {
          transform: scale(1);
        }
      }

      &::after,
      &::before {
        opacity: 1;
        visibility: visible;
      }

      &::after {
        bottom: -5px;
        right: -12px;
      }

      &::before {
        top: -8px;
        left: -8px;
      }
    }
  }
}
@keyframes light {
  0% {
    background-position: 100%;
  }
  100% {
    background-position: 0%;
  }
}

@-webkit-keyframes light {
  0% {
    background-position: 100%;
  }
  100% {
    background-position: 0%;
  }
}

.tag {
  padding: 4px 16px;
  border: 1px solid #fff;
  border-radius: 16px;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}

.input-field {
  margin-bottom: 16px;

  input,
  textarea,
  select {
    background: $transparentWhite;
    padding: 20px 16px;

    + small {
      display: none;
      color: $red;
      font-size: 14px;
      line-height: 18px;
    }
  }

  select {
    option {
      background-color: rgba(0, 0, 0, 0.6);
    }
  }

  &.error {
    small {
      margin-top: 4px;
      display: block;
    }
  }

  &.optional {
    position: relative;

    &::after {
      content: "(optional)";
      color: rgba(255, 255, 255, 0.6);
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 16px;
    }
  }
}

.section-with-bg-image {
  background-image: url(../images/multiple-section-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.news-item {
  border: 1px solid rgba(255, 255, 255, 0.1);
  .ni-content {
    padding: 24px 20px 44px;
    > span {
      font-size: 14px;
      font-weight: 400;
      line-height: 17px;
      display: inline-block;
      margin-bottom: 16px;
    }
    a {
      &:not(.tc-btn) {
        display: block;
        margin-bottom: 24px;

        h4 {
          font-size: 20px;
          font-weight: 600;
          line-height: 24px;
          color: #fff;
          transition: all 0.3s ease-in-out;
        }
      }
    }

    p + .tc-btn {
      margin-top: 24px;
      display: inline-block;
    }
  }

  .ni-image {
    transform-origin: 0% 100%;
    transition: all 0.3s ease-in-out;
    a {
      display: block;
    }
  }

  &:hover {
    .ni-image {
      transform: rotate(-2deg);
    }
    .ni-content {
      a {
        h4 {
          color: #f02626;
        }
      }
    }
  }
}

.table-wrapper {
  margin-bottom: 32px;
  background: url(../images/table-bg.svg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 36px 40px;
  background-color: #ffffff03;
  border-radius: 12px;

  table {
    &.table {
      --bs-table-bg: $transparentWhite;
      --bs-table-color: #fff;
      border: none;
    }
  }

  .thead {
    margin-bottom: 24px;
  }

  th {
    font-size: 20px;
    font-weight: 600;
    line-height: 25px;
    color: #fff;
    text-transform: uppercase;
    padding-bottom: 24px !important;
  }

  th,
  td {
    border: none;

    &:first-child {
      padding-right: 36px;
    }

    &:nth-child(even) {
      padding: 0 36px;
      max-width: 335px;
    }
  }

  td {
    font-weight: 400;

    &:nth-child(even) {
      font-family: "Mukta", sans-serif;
    }
  }

  tr {
    &:not(:first-child) {
      td {
        padding-top: 20px;
      }
    }
  }
}

.pagination {
  gap: 32px;

  .page-numbers {
    background: url(../images/collab-tab-bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 44px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    border-radius: 4px;

    &.prev {
      transform: rotate(180deg);
    }

    &.disabled {
      opacity: 0.1;
    }

    &.current {
      background-color: $red;
    }
  }
}

.search-bar {
  position: relative;
  margin-bottom: 56px;
  .input-field {
    input {
      padding-right: 52px;
    }
  }
  .tc-btn-search {
    position: absolute;
    right: 32px;
    top: 50%;
    transform: translateY(-50%);
    border-left: 1px solid $transparentWhite;
    padding: 4px 0 4px 16px;
  }
}

.aside-item-listing {
  h4 {
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    color: #fff;
    padding-bottom: 8px;
    margin-bottom: 16px;
    border-bottom: 1px solid $transparentWhite;
  }
  ul {
    li {
      a {
        font-size: 18px;
        font-weight: 400;
        line-height: 25px;
        color: #fff;
      }
      span {
        font-size: 14px;
        font-weight: 400;
        line-height: 32px;
        display: inline-block;
        background-color: $transparentWhite;
        width: 32px;
        height: 32px;
        text-align: center;
        border-radius: 12px;
      }

      &:not(:last-child) {
        margin-bottom: 8px;
      }
    }
  }

  &:not(:last-of-type) {
    margin-bottom: 56px;
  }

  &.aside-item-listing-v2 {
    ul {
      li {
        &:not(:last-child) {
          padding-bottom: 12px;
          margin-bottom: 12px;
          border-bottom: 1px solid $transparentWhite;
        }
      }
    }
  }
}
